<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @using FDMSWeb.Models
    @Styles.Render("~/bundles/css")
    <style>
        .navbar {
            border-radius: 0 0 5px 5px;
        }
    </style>
</head>
<body class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("Login", "Authentication")">WibuAnimeList</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">

        </div>


        @if (Session == null || Session["User"] == null)
        {
            <div class="col-md-3 pull-right">
                <a type="button" href="@Url.Action("Login", "Authentication")" class="btn btn-primary ">Login</a>

                <a type="button" href="@Url.Action("Register", "Authentication")" class="btn btn-success ">Sign Up</a>
            </div>
        }
        else
        {
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">

                        Welcome, @((Session["User"] as Account).FullName)  <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="@Url.Action("ViewAnimeList", "Anime", new { accountId = "4", listStatus = "0" })">View Own List</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Change Info</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Authentication")">Log Out</a>
                    </div>
                </li>
            </ul>
        }
    </nav>
    <div class="body-content">
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
