<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Library/Bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")
    @using FDMSWeb.Models


</head>
<body class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">

        </div>


        @if (Session["User"] == null)
        {
            <div class="col-md-3 pull-right">
                <a type="button" href="@Url.Action("Login", "Authentication")" class="btn btn-primary ">Login</a>

                <a type="button" href="#" class="btn btn-success ">Sign Up</a>
            </div>
        }
        else
        {

            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">

                        Welcome,@((Session["User"] as Account).FullName)  <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#">Change Info</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Authentication")">Log Out</a>
                    </div>
                </li>
            </ul>
        }
    </nav>
    </nav>
    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Library/Bootstrap/js/jquery-3.5.1.slim.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
