<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @using FDMSWeb.Models <!-- Add Models to use -->
    @Styles.Render("~/bundles/css") <!-- Add Bootstrap CSS to use -->
    <style>
        /* Navbar CSS */
        .navbar {
            border-radius: 0 0 5px 5px;
        }

        /* Search bar CSS */
        #navbar-search-input {
            margin-right: 0.625rem;
        }

        #navbar-search-btn {
            margin-right: 1.25rem;
            background-color: #fff;
            color: #343a40 !important;
        }
    </style>
</head>
<body class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <!-- Website name -->
        <a class="navbar-brand pl-1" href="@Url.Action("Login", "Authentication")">WibuAnimeList</a>
      
        <!-- Anime dropdown -->
        <div class="collapse navbar-collapse" id="anime-navbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="anime-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Anime</a>
                    <div class="dropdown-menu" aria-labelledby="anime-dropdown">
                        <a class="dropdown-item" href="@Url.Action("ViewSearch", "Anime")">Advanced Search</a>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Search form -->
        <form class="form-inline my-2 my-md-0" id="search-form" action="@Url.Action("SearchAnime", "Anime")">
            <input id="navbar-search-input" class="form-control" type="text" name="animeSearchValue" placeholder="Search Anime..." value="@ViewBag.animeSearchValue">
            <input id="navbar-search-btn" class="btn btn-search form-control" type="submit" value="Search">
        </form>

        <!-- If there is no session or user hasn't logged in, show Login and Sign Up buttons -->
        @if (Session == null || Session["User"] == null)
        {
            <div class="col-md-3 pull-right">
                <a type="button" href="@Url.Action("Login", "Authentication")" class="btn btn-primary ">Login</a>

                <a type="button" href="@Url.Action("Register", "Authentication")" class="btn btn-success ">Sign Up</a>
            </div>
        }
        else
        {  /* User has logged in, show welcome and a navbar navigation */
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                        Welcome, @((Session["User"] as Account).FullName)  <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="@Url.Action("ViewAnimeList", "Anime", new { accountId = (Session["User"] as Account).Id, listStatus = 0 })">View Own List</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("UserInfo", "Authentication")">Personal Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("EditUserInfo", "Authentication")">Change Info</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="@Url.Action("Logout", "Authentication")">Log Out</a>
                    </div>
                </li>
            </ul>
        }
    </nav>
    <!-- Load scripts and render body content -->
    <div class="body-content">
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderBody()
    </div>
    @RenderSection("scripts", required: false) <!-- Specifies scripts section isn't required to render -->
</body>
</html>
