
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login - WibuAnimeList</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    @Styles.Render("~/bundles/css")
    <style>
        body {
            background: url(/Content/Backgrounds/bg-02.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            filter: unset;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css">*@
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    @*<link rel="stylesheet" href="~/Library/Bootstrap/css/bootstrap.min.css">*@

    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>
    @*<script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>*@
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/js/main.js"></script>
    @*<link rel="stylesheet" href="~/Library/Bootstrap/css/bootstrap.min.css">*@

    <!--===============================================================================================-->
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample03">
        </div>

        @if (Session["User"] == null)
        {
            <div class="col-md-3 pull-right">
                <a type="button" href="@Url.Action("Login", "Authentication")" class="btn btn-primary ">Login</a>

                <a type="button" href="#" class="btn btn-success ">Sign Up</a>
            </div>
        }
        else
        {
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                        Welcome,Uzaki-chan <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="$">Log Out</a>
                    </div>
                </li>
            </ul>
        }
    </nav>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <form class="login100-form validate-form" action="@Url.Action("Login", "Authentication")" method="POST">
                    @Html.AntiForgeryToken()
                    <span class="login100-form-logo">
                        <img src="~/Content/Images/lilo.png" width="100" height="100">
                    </span>

                    <span class="login100-form-title p-b-34 p-t-27">
                        Log in
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input class="input100" type="text" name="username" placeholder="Username">
                        <span class="focus-input100" data-placeholder="&#xf207;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input class="input100" type="password" name="password" placeholder="Password">
                        <span class="focus-input100" data-placeholder="&#xf191;"></span>
                    </div>

                    <div class="contact100-form-checkbox login100-form-title">
                        <p class="text-lg" style="color:#cb7476;font-weight: bold">
                            @if (ViewBag.error != null)
                            {
                                @ViewBag.error
                            }
                        </p>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/fontawesome")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>