@using FDMSWeb.Models <!-- Add Models to use -->
<!DOCTYPE html>
<html>
<head>
    <meta -equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Search - WibuAnimeList</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/Content/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    <!--===============================================================================================-->
    <!--===============================================================================================-->
    <script src="/Content/login/vendor/animsition/js/animsition.min.js" "></script>
    <!--===============================================================================================-->
    <script src="/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/Content/login/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/AdvanceSearch.css">

</head>
<body>
    <div class="s010" style="background-image: url('/Content/Backgrounds/bg-10.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: fixed;">
        <form action="@Url.Action("SearchAnime", "Anime")">
            <div class="inner-form">
                <div class="basic-search">
                    <div class="input-field">
                        <input name="animeSearchValue" id="search" type="text" placeholder="Search Anime..." />
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="advance-search">
                    <span class="desc">ADVANCED SEARCH</span>
                    <div class="row">
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="type">
                                    <option placeholder="" value="">Type</option>
                                    @foreach (var item in ViewData["types"] as List<String>)
                                    {
                                        <option value="@item"></option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="genre">
                                    <option placeholder="" value="">Genre</option>
                                    @foreach (var item in ViewData["genres"] as IEnumerable<FDMSWeb.Models.Genre>)
                                    {
                                        <option value="@item.Id">@item.Name</option>

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row second">
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="studio">
                                    <option placeholder="" value="">Studio</option>
                                    @foreach (var item in ViewData["studios"] as IEnumerable<FDMSWeb.Models.Studio>)
                                    {
                                        <option value="@item.Id">@item.Name</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="input-field">
                            <div class="input-select">
                                <select data-trigger="" name="season">
                                    <option placeholder="" value="">Season</option>
                                    @foreach (var item in ViewData["seasons"] as IEnumerable<FDMSWeb.Models.Season>)
                                    {
                                        <option value="@item.Id">@item.Name</option>

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row third">
                        <div class="input-field">
                            <div class="result-count">
                                <span> </span>
                            </div>
                            <div class="group-btn">
                                <button type="reset" class="btn-delete" id="delete">RESET</button>
                                <button type="submit" class="btn-search" value="SEARCH">SEARCH</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Content/login/js/extention/choices.js" type="62c9915bca822e18f27fd30b-text/javascript"></script>
    <script type="62c9915bca822e18f27fd30b-text/javascript">
        const customSelects = document.querySelectorAll("select");
        const deleteBtn = document.getElementById('delete')
        const choices = new Choices('select',
        {
        searchEnabled: false,
        itemSelectText: '',
        removeItemButton: true,
        });
        for (let i = 0; i < customSelects.length; i++)
        {
        customSelects[i].addEventListener('addItem', function(event)
        {
        if (event.detail.value)
        {
        let parent = this.parentNode.parentNode
        parent.classList.add('valid')
        parent.classList.remove('invalid')
        }
        else
        {
        let parent = this.parentNode.parentNode
        parent.classList.add('invalid')
        parent.classList.remove('valid')
        }
        }, false);
        }
        deleteBtn.addEventListener("click", function(e)
        {
        e.preventDefault()
        const deleteAll = document.querySelectorAll('.choices__button')
        for (let i = 0; i < deleteAll.length; i++)
        {
        deleteAll[i].click();
        }
        });

    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="62c9915bca822e18f27fd30b-text/javascript"></script>
    <script type="62c9915bca822e18f27fd30b-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="62c9915bca822e18f27fd30b-|49" defer=""></script>
</body>
</html>