@{
    ViewBag.Title = "ViewAnimeList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FDMSWeb.Models
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
        /* General CSS */
        body {
            background: url(/Content/Backgrounds/bg-12.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            margin: 0;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
        }

        a {
            color: #2d5a90;
            text-decoration: none;
        }

        /* Header section */
        .header {
            margin: 2rem;
            font-size: 25px;
            font-family: Verdana;
            color: #ffffff;
            font-weight: normal !important;
            text-shadow: 0px 0px 5px #000000;
        }

        /* List status block */
        .list-status-block {
            background-image: url(/Content/Backgrounds/bg-03.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
        }

        /* List section */
        .list-container {
            position: relative;
            background-color: #ffffff;
            border: #EBEBEB 1px solid;
            width: 1058px;
            margin-bottom: 0;
            margin-right: auto;
            margin-left: auto;
            text-align: left;
        }

        /* Status Menu */
        .status-menu-container {
            width: 1058px;
            height: 46px;
            border: 0;
            z-index: 1;
            margin-top: 2px;
        }

            .status-menu-container .status-menu {
                display: table;
                margin: 0 auto;
                border-collapse: separate;
                border-spacing: 40px 0;
            }

                .status-menu-container .status-menu .status-button {
                    position: relative;
                    display: table-cell;
                    padding: 10px 0;
                    margin: 0;
                    font-family: Verdana;
                    text-align: center;
                    vertical-align: middle;
                    font-size: 1.4em;
                    color: #343a40;
                }

                    .status-menu-container .status-menu .status-button.on {
                        color: #212529;
                        font-weight: bold;
                    }

                    .status-menu-container .status-menu .status-button:after {
                        position: absolute;
                        bottom: 0px;
                        left: 0px;
                        background-color: #343a40;
                        display: block;
                        width: 100%;
                        height: 3px;
                        content: '';
                        opacity: 0;
                        -moz-transition-property: all;
                        -o-transition-property: all;
                        -webkit-transition-property: all;
                        transition-property: all;
                        -moz-transition-duration: 0.3s;
                        -o-transition-duration: 0.3s;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -moz-transition-timing-function: ease-in-out;
                        -o-transition-timing-function: ease-in-out;
                        -webkit-transition-timing-function: ease-in-out;
                        transition-timing-function: ease-in-out;
                    }

                    .status-menu-container .status-menu .status-button.on:after, .status-menu .status-button:hover:after {
                        padding: 0;
                        margin: 0;
                        opacity: 1
                    }

            /* List Container - Status Menu - Search */
            .status-menu-container .search-container {
                position: absolute;
                right: 18px;
            }

                .status-menu-container .search-container #search-button {
                    display: inline-block;
                    height: 22px;
                    margin-top: 15px;
                    color: #787878;
                    font-size: 1.6em;
                    vertical-align: middle;
                }

                .status-menu-container .search-container #search-box {
                    display: inline-block;
                    width: 0;
                    height: 22px;
                    overflow: hidden;
                    margin-top: 13px;
                    -webkit-transition: width 0.3s;
                    -moz-transition: width 0.3s;
                    transition: width 0.3s;
                    -webkit-backface-visibility: hidden;
                    vertical-align: middle;
                }

                    .status-menu-container .search-container #search-box.open {
                        display: inline-block;
                        width: 100px;
                    }

                    .status-menu-container .search-container #search-box input {
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                    }

        /* List Container - List Block */
        .list-block {
            margin-top: 10px;
            min-height: 600px;
            padding: 0;
        }

        .list-table-container {
            display: block;
            margin: 0 auto;
            width: 1024px;
            border-radius: 0 0 5px 5px;
        }

        .list-status-block {
            text-align: center;
            color: #ffffff !important;
            font-family: Verdana;
            font-size: 22px;
            font-weight: bold;
            padding: 0.4em;
            border-radius: 5px 5px 0 0;
        }

        /* List Container - List Table */

        .anime-list-table {
            width: 100%;
            margin: 0 auto;
            border-collapse: collapse;
            border: #EBEBEB 1px solid;
            font-size: 12px;
        }

            .anime-list-table > tbody:nth-of-type(2n+1) {
                background-color: #fcfcfc;
            }


            /* List Table - Header */

            .anime-list-table .anime-list-table-header .header-title {
                display: table-cell;
                border-bottom: #E1E1E1 1px solid;
                height: 40px;
                text-align: center;
                vertical-align: middle;
                font-size: 12px;
            }

            .header-title.type {
                padding-right: 6px;
            }

            /* List Table - Items */

            .anime-list-table .anime-list-table-list-item-data .list-item-data {
                display: table-cell;
                padding: 8px 0;
                text-align: center;
                vertical-align: middle;
                border-bottom: #E1E1E1 1px solid
            }

                .anime-list-table .anime-list-table-list-item-data .list-item-data.image .image {
                    width: 48px;
                    height: 68px;
                    border: #E1E1E1 1px solid;
                    border-radius: 3px;
                }

                .anime-list-table .anime-list-table-list-item-data .list-item-data.title {
                    padding-left: 10px;
                    text-align: left;
                    word-wrap: break-word;
                    font-weight: bold;
                }

                .anime-list-table .anime-list-table-list-item-data .list-item-data.status {
                    text-align: center;
                }

                .anime-list-table .anime-list-table-list-item-data .list-item-data.type {
                    padding-right: 6px;
                }

                .anime-list-table .anime-list-table-list-item-data .list-item-data.progress {
                    padding-left: 5px;
                }

        .status-button {
            text-decoration: none !important;
        }

        .noanime {
            text-align: center !important;
            font-size: 20px;
            margin-top: 3%;
        }

        .progress {
            background: none;
        }

        #navbarDropdown {
            font-size: 16px;
        }

        .progress-input {
            width: 43%;
            border: 1px solid #969696 !important;
            font-size: 12px;
            height: 1.2rem;
        }

        select {
            border: 1px solid #969696 !important;
        }

        /* Hide input arrows */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <title>
        @if (ViewBag.AccountUsername != null)
        {
            @Html.Raw(ViewBag.AccountUsername + "'s Anime List - Wibu Anime List")
        }
        else
        {
            @Html.Raw("User Anime List - Wibu Anime List")
        }
    </title>
</head>
<body>
    <div class="header lala font-bold font-weight-bold">
        Viewing
        @if (ViewBag.AccountUsername != null)
        {
            @Html.Raw(ViewBag.AccountUsername + "'s")
        }
        else
        {
            @Html.Raw("User")
        }
        Anime List
    </div>

    <div id="list-container" class="list-container">
        <div id="status-menu" class="status-menu-container">
            <div class="status-menu">
                <a id="all_anime" href="ViewAnimeList?accountId=@ViewBag.AccountId&listStatus=0"
                   class="status-button all_anime">All Anime</a>
                <a id="watching" href="ViewAnimeList?accountId=@ViewBag.AccountId&listStatus=1"
                   class="status-button watching ">Currently Watching</a>
                <a id="completed" href="ViewAnimeList?accountId=@ViewBag.AccountId&listStatus=2"
                   class="status-button completed ">Completed</a>
                <a id="onhold" href="ViewAnimeList?accountId=@ViewBag.AccountId&listStatus=3"
                   class="status-button onhold ">On Hold</a>
                <a id="dropped" href="ViewAnimeList?accountId=@ViewBag.AccountId&listStatus=4"
                   class="status-button dropped ">Dropped</a>
                <a id="plantowatch" href="ViewAnimeList?accountId=@ViewBag.AccountId&listStatus=5"
                   class="status-button plantowatch ">Plan to Watch</a>
                <div class="search-container">
                    <form action="searchInList" id="search-form-action">
                        <div id="search-box" class=""><input name="search-text" type="text" value=""></div>
                        <a id="search-button" href="#">
                            <i class="fa fa-search"></i>
                        </a>
                    </form>
                </div>
            </div>
        </div>

        <div class="list-block">
            <div class="list-table-container all_anime pb-3">
                <div class="list-status-block">
                    @if (@ViewBag.ListStatus == 0)
                    {
                        <span class="text">ALL ANIME</span>
                    }
                    else if (@ViewBag.ListStatus == 1)
                    {
                        <span class="text">CURRENTLY WATCHING</span>
                    }
                    else if (@ViewBag.ListStatus == 2)
                    {
                        <span class="text">COMPLETED</span>
                    }
                    else if (@ViewBag.ListStatus == 3)
                    {
                        <span class="text">ON HOLD</span>
                    }
                    else if (@ViewBag.ListStatus == 4)
                    {
                        <span class="text">DROPPED</span>
                    }
                    else if (@ViewBag.ListStatus == 5)
                    {
                        <span class="text">PLAN TO WATCH</span>
                    }

                </div>

                @if ((Session["User"] as Account) != null && ViewBag.AccountId == ((Session["User"] as Account).Id))
                {
                    <table class="anime-list-table" id="myListTable">
                        <thead>
                            <tr class="anime-list-table-header">
                                <th class="header-title number">No.</th>
                                <th class="header-title image">Poster</th>
                                <th class="header-title title">Anime Title</th>
                                <th class="header-title type">Type</th>
                                <th class="header-title progress">Progress</th>
                                <th class="header-title status">Status</th>
                                <th class="header-title edit pr-0 pl-2">Edit</th>
                                <th class="header-title delete pr-3 pl-3">Delete</th>
                            </tr>
                        </thead>
                        <tbody class="list-item">
                            @{ int animeIndex = 0; }
                            @if (@ViewBag.AnimeDetailList != null && @ViewBag.AnimeDetailList.Count != 0)
                            {
                            <form action="@Url.Action("EditRemoveAnimeList", "Anime")" method="POST">
                                @foreach (FDMSWeb.Models.Anime anime in ViewBag.AnimeDetailList)
                                {
                                    FDMSWeb.Models.List listAnime = ViewBag.AnimeList[animeIndex];
                                    animeIndex++;
                                    <input type="hidden" name="listStatus" value="@ViewBag.ListStatus" />
                                    <input type="hidden" name="accountId" value="@((Session["User"] as Account).Id)" />
                                    <input type="hidden" name="episode" value="@anime.Episodes" />
                                    <input type="hidden" name="animeId" value="@anime.Id" />
                                    <tr class="anime-list-table-list-item-data">
                                        <td class="list-item-data number text-center" style="width: 5%;">@animeIndex</td>

                                        <td class="list-item-data image text-center" style="width: 7%;">
                                            <a href="Anime/ViewAnime/animeID=@anime.Id" class="link sort">
                                                <img src="~/Content/Images/Posters/@anime.Poster" class="hover-info image">
                                            </a>
                                        </td>

                                        <td class="list-item-data title clearfix text-wrap" style="width: 46%;">
                                            <a href="ViewAnime?id=@anime.Id" class="link sort">@anime.Name</a>
                                        </td>

                                        <td class="list-item-data type text-center" style="width: 8%;">
                                            @anime.Type
                                        </td>

                                        <td class="list-item-data progress text-left" style="background-color: transparent!important; width: 9%">
                                            @if (listAnime.Progress == 0 && listAnime.Status.Equals("Completed") && anime.Episodes == 0)
                                            {
                                                <input size="1" type="number" min="0" max="9999" name="progress" class="inputtext form-control-sm text-left pl-1 progress-input" value="?" required>
                                            }
                                            else
                                            {
                                                <input size="1" type="number" min="0" max="9999" name="progress" class="inputtext form-control-sm text-left pl-1 progress-input" value="@listAnime.Progress" required>
                                            }
                                            @Html.Raw("/")
                                            @if (anime.Episodes != 0)
                                            {
                                                @Html.Raw(anime.Episodes)
                                            }
                                            else
                                            {
                                                @Html.Raw("?")
                                            }
                                        </td>

                                        <td class="list-item-data status" style="width: 15%;">
                                            <select name="status">
                                                @{int statusIndex = 1; }
                                                @foreach (String status in ViewBag.StatusList)
                                                {
                                                    if (!status.Equals(listAnime.Status))
                                                    {
                                                        <option value="@statusIndex"> @status </option>
                                                        <br />
                                                    }
                                                    else
                                                    {
                                                        <option value="@statusIndex" selected="selected"> @status </option>
                                                        <br />
                                                    }
                                                    statusIndex++;
                                                }
                                            </select>
                                        </td>
                                        <td class="list-item-data pr-0 pl-2 text-center" style="width: 5%;">
                                            <input type="submit" name="btnAction" style="font-size: 12px;" value="Edit" />
                                        </td>
                                        <td class="list-item-data pr-3 pl-3 text-center" style="width: 6%;">
                                            <input type="submit" name="btnAction" style="font-size: 12px;" value="Delete" onclick="return confirm('Are you sure you want to remove \'@anime.Name\' from list?');" />
                                        </td>
                                    </tr>
                                }
                            </form>
                            }
                        </tbody>
                    </table>
                    if (@ViewBag.AnimeDetailList == null || @ViewBag.AnimeDetailList.Count == 0)
                    {
                        <div class="noanime">There are no animes in the list!</div>
                    }
                }
                else
                {
                    <table class="anime-list-table" id="myListTable">
                        <thead>
                            <tr class="anime-list-table-header">
                                <th class="header-title number">No.</th>
                                <th class="header-title image">Poster</th>
                                <th class="header-title title">Anime Title</th>
                                <th class="header-title type">Type</th>
                                <th class="header-title progress">Progress</th>
                                <th class="header-title status">Status</th>
                            </tr>
                        </thead>
                        <tbody class="list-item">
                            @{ int animeIndex = 0; }
                            @if (@ViewBag.AnimeDetailList != null && @ViewBag.AnimeDetailList.Count != 0)
                            {
                                foreach (FDMSWeb.Models.Anime anime in ViewBag.AnimeDetailList)
                                {
                                    FDMSWeb.Models.List listAnime = ViewBag.AnimeList[animeIndex];
                                    animeIndex++;
                                    <tr class="anime-list-table-list-item-data">
                                        <td class="list-item-data number text-center" style="width: 5%;">@animeIndex</td>

                                        <td class="list-item-data image text-center" style="width: 7%;">
                                            <a href="Anime/ViewAnime/animeID=@anime.Id" class="link sort">
                                                <img src="~/Content/Images/Posters/@anime.Poster" class="hover-info image">
                                            </a>
                                        </td>

                                        <td class="list-item-data title clearfix text-wrap" style="width: 46%;">
                                            <a href="ViewAnime?id=@anime.Id" class="link sort">@anime.Name</a>
                                        </td>

                                        <td class="list-item-data type text-center" style="width: 9%;">
                                            @anime.Type
                                        </td>

                                        <td class="list-item-data progress text-center" style="width: 9%;">
                                            @if (listAnime.Progress == 0 && listAnime.Status.Equals("Completed") && anime.Episodes == 0)
                                            {
                                                @Html.Raw("?")
                                            }
                                            else
                                            {
                                                @listAnime.Progress
                                            }
                                            @Html.Raw("/")
                                            @if (anime.Episodes != 0)
                                            {
                                                @Html.Raw(anime.Episodes)
                                            }
                                            else
                                            {
                                                @Html.Raw("?")
                                            }
                                        </td>

                                        <td class="list-item-data status" style="width: 14%;">
                                            @listAnime.Status
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    if (@ViewBag.AnimeDetailList == null || @ViewBag.AnimeDetailList.Count == 0)
                    {
                        <div class="noanime">There are no animes in the list!</div>
                    }
                }
            </div>
        </div>
    </div>

    <script>
        var status = parseInt('@ViewBag.ListStatus');

        //$("#search-button").click(function () {
        //    var buttonState = $("#search-box").attr("class");
        //    if (buttonState != "open") {
        //        $("#search-box").attr("class", "open");
        //    } else {
        //        $("#search-form-action").submit();
        //    }
        //});

        //$("#search-box").focusout(function () {
        //    $("#search-box").attr("class", "");
        //});

        if (status == 0) {
            document.getElementById('all_anime').classList.add("on");
            document.getElementById('watching').classList.remove("on");
            document.getElementById('completed').classList.remove("on");
            document.getElementById('onhold').classList.remove("on");
            document.getElementById('dropped').classList.remove("on");
            document.getElementById('plantowatch').classList.remove("on");
        } else if (status == 1) {
            document.getElementById('all_anime').classList.remove("on");
            document.getElementById('watching').classList.add("on");
            document.getElementById('completed').classList.remove("on");
            document.getElementById('onhold').classList.remove("on");
            document.getElementById('dropped').classList.remove("on");
            document.getElementById('plantowatch').classList.remove("on");
        } else if (status == 2) {
            document.getElementById('all_anime').classList.remove("on");
            document.getElementById('watching').classList.remove("on");
            document.getElementById('completed').classList.add("on");
            document.getElementById('onhold').classList.remove("on");
            document.getElementById('dropped').classList.remove("on");
            document.getElementById('plantowatch').classList.remove("on");
        } else if (status == 3) {
            document.getElementById('all_anime').classList.remove("on");
            document.getElementById('watching').classList.remove("on");
            document.getElementById('completed').classList.remove("on");
            document.getElementById('onhold').classList.add("on");
            document.getElementById('dropped').classList.remove("on");
            document.getElementById('plantowatch').classList.remove("on");
        } else if (status == 4) {
            document.getElementById('all_anime').classList.remove("on");
            document.getElementById('watching').classList.remove("on");
            document.getElementById('completed').classList.remove("on");
            document.getElementById('onhold').classList.remove("on");
            document.getElementById('dropped').classList.add("on");
            document.getElementById('plantowatch').classList.remove("on");
        } else if (status == 5) {
            document.getElementById('all_anime').classList.remove("on");
            document.getElementById('watching').classList.remove("on");
            document.getElementById('completed').classList.remove("on");
            document.getElementById('onhold').classList.remove("on");
            document.getElementById('dropped').classList.remove("on");
            document.getElementById('plantowatch').classList.add("on");
        }
    </script>
</body>
</html>

