@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            background: url(/Content/Backgrounds/bg-15.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }

        .anime-details {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .details-poster {
            text-align: center;
            padding: 0;
            padding-top: 5px;
        }

            .details-poster img {
                width: 80%;
                height: 100%;
            }

        .details-head h5 {
            color: #333;
        }

        .details-head h6 {
            padding: 5px 0;
            color: #0056b3;
        }

        .details-head .nav-tabs {
            margin-bottom: 5%;
        }

            .details-head .nav-tabs .nav-link {
                font-weight: 400;
                border: none;
                color: #0056b3;
            }

                .details-head .nav-tabs .nav-link.active {
                    border: none;
                    font-weight: 700;
                    color: #0056b3;
                    border-bottom: 2px solid #0056b3;
                }

        .details-info {
            padding: 5%;
            margin: 0;
            text-align: center;
        }

            .details-info p {
                font-size: 12px;
                color: #818182;
                font-weight: 600;
                margin-top: 10%;
            }

            .details-info a {
                text-decoration: none;
                color: #3333FF;
                font-weight: 600;
                font-size: 14px;
            }

            .details-info ul {
                list-style: none;
            }

        .details-tab label {
            font-weight: 600;
        }

        .details-tab p {
            font-weight: 600;
            color: #0056b3;
        }

        /* Miscellaneous CSS */

        .synopsis {
            color: #000000 !important;
            font-weight: normal !important;
        }

        .btn-group {
            margin-top: 15%;
            width: 200px;
        }

        .addtolist-block {
            padding-bottom: 40px;
            padding-top: 5px;
        }

        .btn-primary {
            color: #007bff;
            background-color: #fff;
            border-color: #007bff;
            width: 90%;
            margin-top: 1%;
            margin-bottom: 6%;
        }

        .spaceit {
            margin: 3px 0;
            padding: 3px 0;
        }

        #addtolist {
            padding: 0 !important;
        }

        #collapsePanel {
            width: 90% !important;
            margin: 0 auto;
        }

        span.anime-list-notice {
            display: block;
            text-align: left;
        }

        .card.card-body {
            padding: 15px;
            margin-top: 0;
            padding-bottom: 5px;
        }

        form {
            display: block;
            text-align: center;
        }

        table {
            padding: 0;
            display: block;
            margin: 0 !important;
            border-collapse: separate;
            border-spacing: 1px 10px;
        }

        tbody {
            display: block;
            width: 100%;
        }

        .statustr .epstr .submittr {
            display: block;
            width: 100%;
        }

        .status {
            text-align: left;
            padding-left: 2%;
        }

        .epseen {
            padding-left: 2%;
            text-align: left;
            width: 40%;
        }

        .epseeninput {
            text-align: left;
            margin-right: 1px !important;
        }

        .submittr {
            text-align: right;
        }

        .inputButton {
            text-align: right;
            margin: 2px;
            border-radius: 2px;
            border: 1px solid;
        }

        .submittd {
            display: block;
            text-align: right;
        }

        tbody {
            margin: 0;
        }

        #status_dropdown {
            border: 1px solid #ced4da;
            font-size: 0.95rem;
            padding: 0;
        }

        #watchedeps {
            border: 1px solid #ced4da;
            font-size: 1rem;
            width: 35%;
        }

        inputButton {
            margin-top: 5%;
        }

        @@media (max-width: 768px) {
            .submittd {
                margin: 0;
                padding: 6px 0;
            }

            .details-poster img {
                max-width: 100%;
                height: auto;
                width: auto;
            }

            .status {
                float: initial;
                width: initial;
            }

            .statusinput {
                display: initial;
                float: initial;
                width: initial;
                margin-bottom: 3px;
                padding-bottom: 3px;
            }

                .statusinput select {
                    float: initial;
                    width: initial;
                }

            .epstr {
                float: initial;
                width: initial;
            }

            .epseen .epseeninput {
                margin-top: 3px 0;
                padding-top: 3px 0;
                display: initial;
                float: initial;
                width: initial;
            }

            #watchedeps {
                width: 35%;
            }

            .submittr {
                display: block;
            }
        }

        @@media (min-width: 1200px) {
            .submittd {
                margin: 3px 0;
                padding: 6px 0;
            }

            .details-poster img {
                width: 80%;
                height: 100%;
            }

            .status {
                float: initial;
                width: initial;
            }

            .statusinput {
                display: initial;
                float: initial;
                width: initial;
                margin-bottom: 3px;
                padding-bottom: 3px;
            }

                .statusinput select {
                    float: initial;
                    width: initial;
                }

            .epstr {
                float: initial;
                width: initial;
            }

            .epseen .epseeninput {
                margin-top: 3px 0;
                padding-top: 3px 0;
                display: initial;
                float: initial;
                width: initial;
            }

            #watchedeps {
                width: 35%;
            }

            .submittr {
                display: block;
            }
        }

        @@media (min-width: 768px) and (max-width: 1200px) {
            .submittd {
                margin: 3px 0;
                padding: 6px 0;
            }

            .details-poster img {
                width: 80%;
                height: 100%;
            }

            .status {
                display: block;
                float: left;
                width: 100%;
            }

            .statusinput {
                display: block;
                float: left;
                width: 100%;
                margin-bottom: 0px;
                padding-bottom: 0px;
            }

                .statusinput select {
                    width: 100%;
                }

            .epstr {
                display: block;
                float: left;
                width: 100%;
            }

            .epseen {
                margin-top: 0;
                padding-top: 0;
                display: block;
                float: left;
                width: 100%;
            }

            .epseeninput {
                margin-top: 3px 0;
                padding-top: 3px 0;
                display: block;
                float: left;
                width: 100%;
            }

            #watchedeps {
                width: 42%;
            }

            .submitfiller {
                display: none;
            }
        }

        .submittr {
            float: right;
        }


        /* Hide input arrows */
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    </style>
    <title>@ViewBag.Anime.Name - WibuAnimeList</title>
</head>
<body>
    <div class="container anime-details">
        <div class="row">
            <div class="col-md-4">
                <div class="details-poster">
                    <img class="rounded " src="~/Content/Images/Posters/@ViewBag.Anime.Poster" alt="" />
                </div>
                <div class="details-info">
                    @if ((Session["User"] as FDMSWeb.Models.Account) != null)
                    {
                        if (@ViewBag.AnimeInList != null)
                        {
                            <div class="collapse show" id="collapsePanel">
                                <div class="card card-body">
                                    <div id="addtolist" class="addtolist-block">
                                        <span class="anime-list-notice">* Note: Anyone can view your list by default.</span>
                                        <form action="@Url.Action("AddRemoveAnimeList", "Anime")" method="POST">
                                            <table>
                                                <input type="hidden" name="animeId" value="@ViewBag.Anime.Id" />
                                                <input type="hidden" name="accountId" value="@((Session["User"] as FDMSWeb.Models.Account).Id)" />
                                                <tbody>
                                                    <tr class="statustr">
                                                        <td class="status spaceit">Status:</td>
                                                        <td class="statusinput spaceit">
                                                            <select name="status" id="status_dropdown" class="inputtext form-control-sm">
                                                                @{int statusIndex = 1; }
                                                                @foreach (string status in ViewBag.StatusList)
                                                                {
                                                                    if (!status.Equals(ViewBag.AnimeInList.Status))
                                                                    {
                                                                        <option value="@statusIndex"> @status </option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@statusIndex" selected="selected">  @status  </option>
                                                                    }
                                                                    statusIndex++;
                                                                }
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr class="epstr">
                                                        <td class="epseen spaceit">Eps Seen:</td>
                                                        <td class="epseeninput spaceit">
                                                            <input type="hidden" name="episode" value="@ViewBag.Anime.Episodes" />
                                                            @if (@ViewBag.AnimeInList.Progress == 0 && @ViewBag.AnimeInList.Status.Equals("Completed") && ViewBag.Anime.Episodes == 0)
                                                            {
                                                                <input type="number" min="0" max="9999" id="watchedeps" name="progress" size="3" class="inputtext form-control-sm" value="" required />
                                                            }
                                                            else
                                                            {
                                                                <input type="number" min="0" max="9999" id="watchedeps" name="progress" size="3" class="inputtext form-control-sm" value="@ViewBag.AnimeInList.Progress" required />
                                                            }
                                                            @Html.Raw("/")
                                                            @if (@ViewBag.Anime.Episodes != 0)
                                                            {
                                                                @ViewBag.Anime.Episodes
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("?")
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr class="submittr">
                                                        <td class="submittd">
                                                            <input id="editButton" type="submit" name="btnAction" value="Edit" class="inputButton editButton">
                                                            <input type="submit" name="btnAction" value="Remove" class="inputButton" onclick="return confirm('Are you sure you want to remove \'@ViewBag.Anime.Name\' from your list?');">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapsePanel" aria-expanded="false" aria-controls="collapsePanel">
                                Add To List
                            </button>
                            <div class="collapse" id="collapsePanel">
                                <div class="card card-body">
                                    <div id="addtolist" class="addtolist-block">
                                        <span class="anime-list-notice">* Note: Anyone can view your list by default.</span>
                                        <form action="@Url.Action("AddRemoveAnimeList", "Anime")" method="POST">
                                            <table>
                                                <input type="hidden" name="animeId" value="@ViewBag.Anime.Id" />
                                                <input type="hidden" name="accountId" value="@((Session["User"] as FDMSWeb.Models.Account).Id)" />
                                                <tbody>
                                                    <tr class="statustr">
                                                        <td class="status spaceit">Status:</td>
                                                        <td class="statusinput spaceit">
                                                            <select name="status" id="status_dropdown" class="inputtext form-control-sm">
                                                                @{int statusIndex = 1; }
                                                                @foreach (string status in ViewBag.StatusList)
                                                                {
                                                                    <option value="@statusIndex"> @status </option>
                                                                    statusIndex++;
                                                                }
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr class="epstr">
                                                        <td class="epseen spaceit">Eps Seen:</td>
                                                        <td class="epseeninput spaceit">
                                                            <input type="hidden" name="episode" value="@ViewBag.Anime.Episodes" />
                                                            <input type="number" min="0" max="9999" id="watchedeps" name="progress" size="1" class="inputtext form-control-sm" value="" required />
                                                            @Html.Raw("/")
                                                            @if (@ViewBag.Anime.Episodes != 0)
                                                            {
                                                                @ViewBag.Anime.Episodes
                                                            }
                                                            else
                                                            {
                                                                @Html.Raw("?")
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr class="submittr">
                                                        <td class="submittd">
                                                            <input id="addButton" type="submit" name="btnAction" value="Add" class="inputButton addButton">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-8">
                <div class="details-head">
                    <h1>
                        @Html.Raw(ViewBag.Anime.Name)
                    </h1>
                    @if (@ViewBag.Anime.Season.Id != 0)
                    {
                        <h6>@Html.Raw(ViewBag.Anime.Season.Name)</h6>
                    }
                    else
                    {
                        <h6>Unknown Season</h6>
                    }
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="synopsis-tab" data-toggle="tab" href="#synopsis" role="tab" aria-controls="synopsis" aria-selected="true">Synopsis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trailer-tab" data-toggle="tab" href="#trailer" role="tab" aria-controls="trailer" aria-selected="false">Trailer</a>
                        </li>

                    </ul>
                </div>

                <div class="tab-content details-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="synopsis" role="tabpanel" aria-labelledby="synopsis-tab">
                        <p class="synopsis text-justify">@Html.Raw(ViewBag.Anime.Description)</p>
                    </div>

                    <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Type</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.Raw(ViewBag.Anime.Type)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Episodes</label>
                            </div>
                            <div class="col-md-6">
                                @if (@ViewBag.Anime.Episodes != 0)
                                {
                                    <p>@Html.Raw(ViewBag.Anime.Episodes)</p>
                                }
                                else
                                {
                                    <p>?</p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Status</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.Raw(ViewBag.Anime.Status)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Release Date</label>
                            </div>
                            <div class="col-md-6">
                                @if (@ViewBag.Anime.ReleaseDate != null)
                                {
                                    <p>@Html.Raw(ViewBag.Anime.ReleaseDate)</p>
                                }
                                else
                                {
                                    <p>?</p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Studio(s)</label>
                            </div>
                            <div class="col-md-6 text-wrap">
                                <p>
                                    @{ int studioIndex = 0; }
                                    @foreach (FDMSWeb.Models.Studio studio in @ViewBag.Studios)
                                    {
                                        if (studioIndex == 0 && @ViewBag.Studios.Count == 1)
                                        {
                                            @Html.Raw(@studio.Name)
                                        }
                                        else if (studioIndex == 0)
                                        {
                                            @Html.Raw(@studio.Name)
                                        }
                                        else
                                        {
                                            @Html.Raw(", " + @studio.Name)
                                        }
                                        studioIndex++;
                                    }
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Genre(s)</label>
                            </div>
                            <div class="col-md-6 text-wrap">
                                <p>
                                    @{ int genreIndex = 0; }
                                    @foreach (FDMSWeb.Models.Genre genre in @ViewBag.Genres)
                                    {
                                        if (genreIndex == 0 && @ViewBag.Genres.Count == 1)
                                        {
                                            @Html.Raw(@genre.Name)
                                        }
                                        else if (genreIndex == 0)
                                        {
                                            @Html.Raw(@genre.Name)
                                        }
                                        else
                                        {
                                            @Html.Raw(", " + @genre.Name)
                                        }
                                        genreIndex++;
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Duration</label>
                            </div>
                            <div class="col-md-6">
                                @if (@ViewBag.Anime.Duration != null)
                                {
                                    <p>@Html.Raw(ViewBag.Anime.Duration)</p>
                                }
                                else
                                {
                                    <p>&lt;Unknown Length&gt;</p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Rating</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.Raw(ViewBag.Anime.Rating)</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="trailer" role="tabpanel" aria-labelledby="trailer-tab">
                        @if (@ViewBag.Anime.Trailer != null)
                        {
                            <div class="embed-responsive embed-responsive-16by9 text-center">
                                <iframe class="embed-responsive-item pl-3 pr-3 pt-0" src="@Html.Raw(ViewBag.Anime.Trailer)?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
                            </div>
                        }
                        else
                        {
                            <p class="text-center text-black">There is no trailer available for this Anime title</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#editButton').click(function () {
                if (@ViewBag.Anime.Episodes == 0 && $('#status_dropdown :selected').val() == 2) {
                    alert('You cannot change the status to "Completed"! The anime is currently airing and has not yet finished airing!');
                    return false;
                };
            });

             $('#addButton').click(function () {
                if (@ViewBag.Anime.Episodes == 0 && $('#status_dropdown :selected').val() == 2) {
                    alert('You cannot mark the status as "Completed"! The anime is currently airing and has not yet finished airing!');
                    return false;
                };
            });
        });

    </script>
</body>
</html>
