@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style>
        body {
            background: url(/Content/Backgrounds/bg-15.jpg);
            background-size: 100%;
            background-repeat: no-repeat;
        }

        .emp-details {
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 0.5rem;
            background: #fff;
        }

        .details-img {
            text-align: center;
        }

            .details-img img {
                width: 70%;
                height: 100%;
            }

            .details-img .file {
                position: relative;
                overflow: hidden;
                margin-top: -20%;
                width: 70%;
                border: none;
                border-radius: 0;
                font-size: 15px;
                background: #212529b8;
            }

                .details-img .file input {
                    position: absolute;
                    opacity: 0;
                    right: 0;
                    top: 0;
                }

        .details-head h5 {
            color: #333;
        }

        .details-head h6 {
            color: #0062cc;
        }

        .details-edit-btn {
            border: none;
            border-radius: 1.5rem;
            width: 70%;
            padding: 2%;
            font-weight: 600;
            color: #6c757d;
            cursor: pointer;
        }

        .proile-rating {
            font-size: 12px;
            color: #818182;
            margin-top: 5%;
        }

            .proile-rating span {
                color: #495057;
                font-size: 15px;
                font-weight: 600;
            }

        .details-head .nav-tabs {
            margin-bottom: 5%;
        }

            .details-head .nav-tabs .nav-link {
                font-weight: 600;
                border: none;
            }

                .details-head .nav-tabs .nav-link.active {
                    border: none;
                    border-bottom: 2px solid #0062cc;
                }

        .details-work {
            padding: 14%;
            margin-top: -15%;
        }

            .details-work p {
                font-size: 12px;
                color: #818182;
                font-weight: 600;
                margin-top: 10%;
            }

            .details-work a {
                text-decoration: none;
                color: #495057;
                font-weight: 600;
                font-size: 14px;
            }

            .details-work ul {
                list-style: none;
            }

        .details-tab label {
            font-weight: 600;
        }

        .details-tab p {
            font-weight: 600;
            color: #0062cc;
        }

        .synopsis {
            color: #000000 !important;
            font-weight: normal !important;
        }

        .btn-group {
            margin-top: 15% !important;
            width: 200px;
        }

        .addtolist-block {
            padding-bottom: 40px;
            padding-top: 5px;
        }

        .btn-primary {
            color: #007bff;
            background-color: #fff;
            border-color: #007bff;
            width: 100%;
        }

        .spaceit {
            margin: 3px 0;
            padding: 3px 0;
        }
    </style>
    <title>@ViewBag.Title - WibuAnimeList</title>
</head>
<body>
    <div class="container emp-details">
        <div class="row">
            <div class="col-md-4">
                <div class="details-img">
                    <img class="rounded" src="~/Content/Images/Posters/@ViewBag.Anime.Poster" alt="" />
                </div>
                <div class="details-work">
                </div>
            </div>
            <div class="col-md-8">
                <div class="details-head">
                    <h1>
                        @Html.Raw(ViewBag.Anime.Name)
                    </h1>
                    @if (@ViewBag.Anime.Season.Id != 0)
                    {
                        <h6>@Html.Raw(ViewBag.Anime.Season.Name)</h6>
                    }
                    else
                    {
                        <h6>Unknown Season</h6>
                    }
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="synopsis-tab" data-toggle="tab" href="#synopsis" role="tab" aria-controls="synopsis" aria-selected="true">Synopsis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="trailer-tab" data-toggle="tab" href="#trailer" role="tab" aria-controls="trailer" aria-selected="false">Trailer</a>
                        </li>

                    </ul>
                </div>

                <div class="tab-content details-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="synopsis" role="tabpanel" aria-labelledby="synopsis-tab">
                        <p class="synopsis text-justify">@Html.Raw(ViewBag.Anime.Description)</p>
                    </div>

                    <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Type</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.Raw(ViewBag.Anime.Type)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Episodes</label>
                            </div>
                            <div class="col-md-6">
                                @if (@ViewBag.Anime.Episodes != 0)
                                {
                                    <p>@Html.Raw(ViewBag.Anime.Episodes)</p>
                                }
                                else
                                {
                                    <p>?</p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Status</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.Raw(ViewBag.Anime.Status)</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Release Date</label>
                            </div>
                            <div class="col-md-6">
                                @if (@ViewBag.Anime.ReleaseDate != null)
                                {
                                    <p>@Html.Raw(ViewBag.Anime.ReleaseDate)</p>
                                }
                                else
                                {
                                    <p>?</p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Studio(s)</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    @{ int studioIndex = 0; }
                                    @foreach (FDMSWeb.Models.Studio studio in @ViewBag.Studios)
                                    {
                                        if (studioIndex == 0 && @ViewBag.Studios.Count == 1)
                                        {
                                            @Html.Raw(@studio.Name)
                                        }
                                        else if (studioIndex == 0)
                                        {
                                            @Html.Raw(@studio.Name)
                                        }
                                        else
                                        {
                                            @Html.Raw(", " + @studio.Name)
                                        }
                                        studioIndex++;
                                    }
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Genre(s)</label>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    @{ int genreIndex = 0; }
                                    @foreach (FDMSWeb.Models.Genre genre in @ViewBag.Genres)
                                    {
                                        if (genreIndex == 0 && @ViewBag.Genres.Count == 1)
                                        {
                                            @Html.Raw(@genre.Name)
                                        }
                                        else if (genreIndex == 0)
                                        {
                                            @Html.Raw(@genre.Name)
                                        }
                                        else
                                        {
                                            @Html.Raw(", " + @genre.Name)
                                        }
                                        genreIndex++;
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Duration</label>
                            </div>
                            <div class="col-md-6">
                                @if (@ViewBag.Anime.Duration != null)
                                {
                                    <p>@Html.Raw(ViewBag.Anime.Duration)</p>
                                }
                                else
                                {
                                    <p>&lt;Unknown Length&gt;</p>
                                }
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Rating</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Html.Raw(ViewBag.Anime.Rating)</p>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="trailer" role="tabpanel" aria-labelledby="trailer-tab">
                        @if (@ViewBag.Anime.Trailer != null)
                        {
                            <div class="embed-responsive embed-responsive-16by9" style="text-align: center;"><iframe class="embed-responsive-item" width="500" height="300" src="@Html.Raw(ViewBag.Anime.Trailer)?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></div>
                        }
                        else
                        {
                            <p style="text-align: center; color: #000000;">There is no trailer available for this Anime title</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
