@model FDMSWeb.Models.Anime

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<div>
    <h4>Anime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Episodes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Episodes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Poster)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Poster)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trailer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trailer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>

    </dl>
</div>
<p>
</p>
